// Place all the styles related to the erd controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}



body {
  background: #EAEAEA;
  font-family: arial;
  margin: 0;
  padding: 0;
}

h2 {
  margin: 0;
  padding: 10px;
  border-bottom: 1px solid #CCC;
  font-size: 16px;
  font-weight: bold;
}
.table {
  float: left;
  background: #FFF;
  border: 1px solid #CCC;
  width: 300px;
  box-shadow: 0px 1px 5px #CCC;
  margin: 40px;
}
.content {
  width: 1000px;
}
.badge {
  // min-height: 20px;
  // min-width: 20px;
  border-radius: 12px;
  display: inline-block;
  margin-right: 4px;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 14px;
  padding: 4px;
  cursor: pointer;
  z-index: 20;
  position: relative;
}
li {
  margin-bottom: 7px;
}
.active {
  background: black!important;
  color: #FFF;
}
