.post {
  border-bottom: 1px solid #CCC;
  padding-bottom: 14px;
  padding-top: 14px;
  .vote {
   float: left;
   width: 10%;
  }
  .post-body {
   float: left;
   width: 90%;
  }
  h1 {
    margin: 0 0 10px 0;
    line-height: 46px;
  }
}
.post.teaser-tiny {
  border-bottom: 1px solid #CCC;
  padding-bottom: 6px;
  padding-top: 6px;
  font-size: 12px;
}

// .question {
//   border-bottom: 1px solid #CCC;
//   padding-bottom: 14px;
//   padding-top: 14px;
//   .vote {
//    float: left;
//    width: 10%;
//   }
//   .question-body {
//    float: left;
//    width: 90%;
//   }
//   h1 {
//     margin: 0 0 10px 0;
//     line-height: 46px;
//   }
// }

// .answer {
//   border-bottom: 1px solid #CCC;
//   padding-bottom: 14px;
//   padding-top: 14px;
//   .vote {
//    float: left;
//    width: 10%;
//   }
//   .answer-body {
//    float: left;
//    width: 90%;
//   }
//   h1 {
//     margin: 0 0 10px 0;
//     line-height: 46px;
//   }
// }
