<!DOCTYPE html>
<html lang="">
  <head>
    <title>ERD</title>
    <script src="//code.jquery.com/jquery.js"></script>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
     <%= stylesheet_link_tag 'erd' %>


     <script src="//cdnjs.cloudflare.com/ajax/libs/draggabilly/1.2.0/draggabilly.pkgd.min.js"></script>

  </head>
  <body>
  <div class="content cf">

  </div>

  <div class="template" style="display: none;">
    <div class="table" >
      <h2></h2>
      <ul></ul>
    </div>
  </div>

<!--
<h1>Packery demo - Draggabilly with appended items</h1>
<div class="packery">
  <div class="item w4 h2"></div>
  <div class="item w2 h2"></div>
  <div class="item w2 h4"></div>
  <div class="item w2 h2"></div>
  <div class="item w4 h4"></div>
  <div class="item w2 h2"></div>
  <div class="item w2 h4"></div>
  <div class="item w4 h4"></div>
  <div class="item w2 h2"></div>
  <div class="item w2 h2"></div>
</div>

<p><button id="add-items">Add more items</button> -->

  </body>
</html>
